/* CSS for the queen speach dashboard! */
/* Backbround color */
body, .content-wrapper, .skin-blue .wrapper{
  background-color: #5a0915 !important; /* dannebrog red - Danish flag red */
}

/* Text */
/* > p/span */
.bold{
  font-weight: bold;
}

.help-me{
  color: #CCC;
}

.help-block{
  color: #C1C1c1;
}

.whatViz, .whyViz, .howViz{
  font-weight: bold;
}

.whatViz{
  color: #28353a; /* Darker version of marker */
}

.whyViz{
  color: #5a4c3e; /* Darker version of marker */
}

.howViz{
  color: #5d3731; /* Darker version of marker */
}

.whatViz>span,
.whyViz>span,
.howViz>span{
  cursor: help;
}

.whatViz>span{
  color: #435961; /* Lighter version of parrent */
}

.whyViz>span{
  color: #E3BF9D; /* Lighter version of parrent */
}

.howViz>span{
  color: #9C5C52; /* Lighter version of parrent */
}

/* Buttons */
section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link{
  background-color: #435961;
  color: #fff;
  border-top-color: #35474d;
  border-left-color: #35474d;
  border-right-color: #687a80;
  border-bottom-color: #687a80;
}

section.sidebar .shiny-bound-input.action-button:hover,
section.sidebar .shiny-bound-input.action-link:hover{
  background-color: #35474d;
}

/* Titles */
h1{
  position: relative;
  color: #FFF;
  text-shadow:
    -1px -1px 0 rgba(0,0,0,0.4),
    1px -1px 0 rgba(0,0,0,0.4),
    -1px 1px 0 rgba(0,0,0,0.4),
    1px 1px 0 rgba(0,0,0,0.4);
  text-align: center;
}

.tab-pane > h2{
  position: relative;
  color: #FFF;
  text-shadow:
    -1px -1px 0 rgba(0,0,0,0.4),
    1px -1px 0 rgba(0,0,0,0.4),
    -1px 1px 0 rgba(0,0,0,0.4),
    1px 1px 0 rgba(0,0,0,0.4);
}

/* Navbar */
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover{
  color: #fff;
  background-color: #E31836;
}

.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  border-bottom-color: #000;
  border-right-color: #000;
  color: #000;
}

.skin-blue .main-header .navbar .sidebar-toggle{
  background-color: #F5D9D4; /*Danebrog photo white */
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #c4ada9;
}

.skin-blue .main-header .navbar .sidebar-toggle:active{
  background-color: #ab9794;
}

/* Sidebar */
#sidebarCollapsed{
  background-color: #9e1025;
  border-right-color: #000;
}

.skin-blue .sidebar a{
  color: #FFF;
  background-color: #b5132b;
  border-top-color: #9e1025;
  border-bottom-color: #e52f4a;
}


.skin-blue .sidebar-menu>li:hover>a{
    color: #000;
    background: #fff  ; /*Danebrog photo white */
    border-left-color: #FFF;
}

.skin-blue .sidebar-menu>li.active>a {
    color: #000;
    background: #F5D9D4; /*Danebrog photo white */
    border-left-color: #FFF;
}

.skin-blue .sidebar-menu>li:hover>a .help-me,
.skin-blue .sidebar-menu>li.active>a .help-me{
    color: #000;
}

/* Plots */
.shiny-plot-output{
  border-color: #000;
  width: calc(100% - 2px) !important;
}

/* Columns */
.box{
  background-color: rgba(255,255,255,1);
}

.box .box,
.tab-content .box {
  border-color: #5d3731;
}

.box .box button.btn-box-tool,
.box .box .box-title,
.tab-content .box button.btn-box-tool,
.tab-content .box .box-title{
  color: #5d3731;
}

/* Tabs */
.nav-tabs-custom {
  border-color: #000;
}

.nav-tabs-custom>.nav-tabs{
  background-color: #c4ada9;
}

.nav-tabs-custom>.nav-tabs>li:hover{
  border-top-color: #9e1025;
}

.nav-tabs-custom>.nav-tabs>li.active{
  border-top-color: #9e1025;
}

.nav-tabs-custom>.nav-tabs>li:hover>a{
  background-color: #F5D9D4;
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a,
.nav-tabs-custom>.nav-tabs>li.active>a{
  font-weight: bold;
}

/* Input */
.irs--shiny .irs-line{
  background:linear-gradient(to bottom, #435961 -50%, #dec7ff 150%);

}
.irs--shiny .irs-bar{
  background: #435961;
  border-top-color: #35474d;
  border-bottom-color: #687a80;
}

.irs--shiny .irs-handle{
  background-color: #C0BFBB;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single{
  top: -5px;
  background: #435961;
}

.irs--shiny .irs-from:after,
.irs--shiny .irs-to:after,
.irs--shiny .irs-single:after{
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 3px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #435961 transparent transparent transparent;
}

/* Infobox */
#wiki_infobox .infobox tr{
  border-top-color: CCC;
}

#wiki_infobox .infobox tr th,
#wiki_infobox .infobox tr td{
  background-color: transparent !important;
}

#wiki_infobox > .infobox > tbody > tr:first-child th{
  background-color: #c1c1c1 !important;
}

/* topicVis */
#topicVis path {
  fill: none;
  stroke: none;
}

#topicVis .xaxis .tick.major {
    fill: black;
    stroke: black;
    stroke-width: 0.1;
    opacity: 0.7;
}

#topicVis .slideraxis {
    fill: black;
    stroke: black;
    stroke-width: 0.4;
    opacity: 1;
}

#topicVis text {
    font-family: sans-serif;
    font-size: 11px;
}

/* Word cloud */
#wcLabel{
  box-shadow: none !important;
  border: 0 !important;
}

#wcSpan{
  color: #FFF;
  background-color: rgba(0,0,0,0.8);
}
