/* CSS for the queen speach dashboard! */
/* Backbround color */
.content-wrapper{
  background-color: #E31836 !important; /* dannebrog red - Danish flag red */
}

.content:before{
  content: "";
  position: fixed;
  left: 0;
  top: 32.432%;
  width: 100%;
  height: 10.811%;
  background-color: #F5D9D4; /*Danebrog photo white */
}

.content-wrapper:before{
  content: "";
  position: fixed;
  left: 32.432%;
  top: 0;
  width: 10.811%;
  height: 100%;
  background-color: #F5D9D4; /* Danebrog photo white */
}

/* Text */
.bold{
  font-weight: bold;
}

/* Titles */
h1{
  position: relative;
  color: #FFF;
  text-shadow:
    -1px -1px 0 rgba(0,0,0,0.4),
    1px -1px 0 rgba(0,0,0,0.4),
    -1px 1px 0 rgba(0,0,0,0.4),
    1px 1px 0 rgba(0,0,0,0.4);
  text-align: center;
}

.tab-pane > h2{
  position: relative;
  color: #FFF;
  text-shadow:
    -1px -1px 0 rgba(0,0,0,0.4),
    1px -1px 0 rgba(0,0,0,0.4),
    -1px 1px 0 rgba(0,0,0,0.4),
    1px 1px 0 rgba(0,0,0,0.4);
}

/* Main wrapper */
.container-fluid{
  padding-bottom: 6vh;
}

/* Columns */
.box{
  background-color: rgba(255,255,255,1);
  border-radius: 20px;
}

/* Navbar */
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover{
  color: #fff;
  background-color: #E31836;
}

.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  border-bottom: 2px solid #000;
  border-right: 3px solid #000;
  color: #000;
  background-color: #F5D9D4; /*Danebrog photo white */
}

.skin-blue .main-header .navbar .sidebar-toggle:before{
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.sidebar-collapse.skin-blue .main-header .navbar .sidebar-toggle:before{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Sidebar */
#sidebarCollapsed{
  background-color: #E31836;
  border-right: 3px solid #000;
}

.skin-blue .sidebar a{
  color: #FFF;
}
.skin-blue .sidebar-menu>li:hover>a{
    color: #000;
    background: #fff  ; /*Danebrog photo white */
    border-left-color: #FFF;
}

.skin-blue .sidebar-menu>li.active>a {
    color: #000;
    background: #F5D9D4; /*Danebrog photo white */
    border-left-color: #FFF;
}

/* Plots */
.shiny-plot-output{
  border: solid 1px #000;
  width: calc(100% - 2px) !important;
  /*height: calc(100% - 4px) !important;*/
}

.shiny-plot-output img{
  float: left;
  width: 100%;
  height: 100%;
}

/* Infobox */
#wiki_infobox .infobox tr{
  border-top: 1px solid #CCC;
}

#wiki_infobox .infobox tr:first-child,
#wiki_infobox .infobox tr:last-child{
  border-top:0;
}

#wiki_infobox .infobox tr th,
#wiki_infobox .infobox tr td{
  background-color: transparent !important;
}

#wiki_infobox > .infobox > tbody > tr:first-child th{
  background-color: #c1c1c1 !important;
}
