/* CSS for sizes and formatting */
/* Neutralize and formatting */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh !important;
}

/* main wrapper */
.content-wrapper{
  min-height: 100vh !important;
}

.container-fluid{
  padding-bottom: 6vh;
}


/* Loading message */
#loadmessage {
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 300%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  padding-top: calc(50vh - 1em);
}

/* Text */
/* > Titles */
h2, h3{
  margin: 1vh 0;
  clear: both;
}

/* > p/span */
.help-block{
  font-style: italic;
  white-space: break-spaces;
  clear: both;
}

.help-me{
  cursor: help;
}

.sentiment_pos,
.sentiment_neg{
  display: inline;
  font-weight: bold;
}

/* Buttons */
section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link{
  margin: 6px auto 8px auto;
}


/* Shiny dashboard */
/* Main header */
.main-header{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 230px;
}

/* > Wrapper */
.sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer,
.sidebar-collapse .right-side{
  margin-left: 45px;
}

/* > Navbar */
.skin-blue .main-header .logo{
  display: none;
}

.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  color: #000;
}

.skin-blue .main-header .navbar .sidebar-toggle:before{
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.sidebar-collapse.skin-blue .main-header .navbar .sidebar-toggle:before{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.skin-blue .main-header .navbar{
  float: left;
  margin: 0;
  width: 230px;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.sidebar-collapse.skin-blue .main-header .navbar {
  width: 45px;
}

/* > Sidebar */
#sidebarCollapsed{
  border-right-width: 1px;
  border-right-style:  solid;
}

.left-side, .main-sidebar{
  float: left;
  height: 100%;
}

.sidebar-collapse .left-side, .sidebar-collapse .main-sidebar{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    width: 45px;
}

.sidebar{
  float: left;
  height: 100%;
  width: 100%;
}

.left-side, .main-sidebar{
  padding-top: 52px;
}


.sidebar-menu,
.sidebar-menu:hover,
.sidebar-menu:active{
  overflow: auto;
}

.sidebar-menu{
  float: left;
  height: 100%;
  width: 100%;
}

.sidebar-collapse .sidebar-menu>li{
  overflow: hidden;
}

.skin-blue .sidebar a{
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.skin-blue .sidebar-menu>li>a{
  padding: 10px;
}

.skin-blue .sidebar li:first-child a{
  border-top: 0;
}

.skin-blue .sidebar li:last-of-type a{
  border-bottom: 0;
}

.skin-blue .sidebar-menu>li>a span{
  margin-left: 8px;
}

.skin-blue .sidebar-menu .form-group{
  padding-top: 5px;
  margin-bottom: 0;
}

.skin-blue .sidebar-menu .help-block{
  padding: 0 15px;
}

#sidebar-input{
  float: left;
  width: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out,width 0s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width 0s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width 0s ease-in-out;
  transition: transform .3s ease-in-out,width 0s ease-in-out;
  -webkit-transform: translate(-0,0);
  -ms-transform: translate(-0,0);
  -o-transform: translate(-0,0);
  transform: translate(-0,0);
}

.sidebar-collapse #sidebar-input {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transform: translate(-270px,0);
  -ms-transform: translate(-270px,0);
  -o-transform: translate(-270px,0);
  transform: translate(-270px,0);
}

#sidebar-input h3{
  padding: 0 15px;
  margin-bottom: 0;
}

/* Content */
.content{
  float: left;
  width: 100%;
  padding-top: 0;
}

.leaflet{
  margin-bottom: 15px;
}

/* > less */
.row{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 30px; /* same as padding between 2 box*/
}

.row:last-child{
  margin-bottom: 0;
}
/* > Selectize */
.selectize-input{
  overflow: auto !important;
  max-height: 4em;
}

/* > Columns */
.col-sm-12{
  padding: 0;
}

div .col-sm-1:first-child, div .col-sm-2:first-child, div .col-sm-3:first-child,
div .col-sm-4:first-child, div .col-sm-5:first-child, div .col-sm-6:first-child,
div .col-sm-7:first-child, div .col-sm-8:first-child, div .col-sm-9:first-child,
div .col-sm-10:first-child, div .col-sm-11:first-child {
  padding-left: 0;
}

div .col-sm-1:last-child, div .col-sm-2:last-child, div .col-sm-3:last-child,
div .col-sm-4:last-child, div .col-sm-5:last-child, div .col-sm-6:last-child,
div .col-sm-7:last-child, div .col-sm-8:last-child, div .col-sm-9:last-child,
div .col-sm-10:last-child, div .col-sm-11:last-child {
  padding-right: 0;
}

.box {
  padding: 1vh 1.5vw;
  margin-bottom: 0;
}

.box img{
  max-width: 100%;
}

.box .box,
.tab-content .box {
  margin-right: 2%;
  border-top-width: 4px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-radius: 0;
}

.tab-content .box .box {
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-radius: 0;
}

.nav-tabs-custom .tab-pane.active,
.tab-content .box>.box-body {
  display: flex;
  height: calc(100% - 43px);
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.nav-tabs-custom .tab-pane.active .box>.box-body,
.tab-content .box>.box-body .box>.box-body {
  display: none;
  height: auto;
  flex-direction: initial;
  flex-wrap: initial;
}

.nav-tabs-custom .tab-pane.active>*,
.tab-content .box>.box-body>* {
  display: inline-block;
  align-self: normal;
  align-self: flex-end;
  width: 100%;
}

.nav-tabs-custom .tab-pane.active .box>.box-body>div.col-sm-12:last-child,
.tab-content .box>.box-body>div.col-sm-12:last-child {
  display: inline-block;
  align-self: flex-end;
  margin-top: auto;
}

.box .box .box-tools.pull-right,
.box .box .box-tools.pull-right .btn-box-tool,
.tab-content .box .box-tools.pull-right,
.tab-content .box .box-tools.pull-right .btn-box-tool{
  width: 100%;
  float: right;
}

.box .box .box-tools.pull-right .btn-box-tool i,
.tab-content .box .box-tools.pull-right .btn-box-tool i{
  float: right;
}

/* > Shiny input */
.shiny-input-container:not(.shiny-input-container-inline){
  float: left;
}

/* > Shiny tabs */
.nav-tabs-custom {
  float: left;
  width: 100%;
  border-radius: 0;
  border-width: 0;
  border-style: solid;
  margin: 0;
  overflow: hidden;
}

.nav-tabs-custom>.tab-content,
.tab-content, .tab-pane{
  float: left;
  width: 100%;
}

.nav-tabs-custom>.nav-tabs{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav-tabs-custom>.tab-content{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-tabs-custom>.nav-tabs>li{
  margin: 0;
}

.nav-tabs-custom>.nav-tabs>li.header{
  border-top:0;
  margin-top: 3px;
}

#source{
  overflow: hidden;
  float: left;
  width:0;
  height: 0;
  clear: both;
}

/* Shiny content */
.box .shiny-html-output,
.box .shiny-output-error{
  margin: 15px 0;
}


/* > Plots */
.shiny-plot-output{
  border-width: 1px;
  border-style: solid;
  width: calc(100% - 2px) !important;
}

.shiny-plot-output img{
  float: left;
  width: 100%;
  height: 100%;
}

/* Infobox */
#wiki_infobox{
  max-height: 100vh;
  overflow: auto;
}

#wiki_infobox .infobox tr{
  border-top-color: CCC;
  border-top-width: 1px ;
  border-top-style: solid;
}


#wiki_infobox .infobox tr:first-child,
#wiki_infobox .infobox tr:last-child{
  border-top: 0;
}


.infobox{
  width: 100% !important;
}

.hlist{
  display: none;
}

/* Topic Model */
#topicVis{
  position: relative;
  width: 100%;
  overflow-x: auto;
}

/* Sentiment tab */
#shiny-tab-sentiment .form-group{
  clear: left;
}

/* Sentiment */
#sentiment_of_speech_bubles, #sentiment_of_speech_col_compare,
#sentiment_of_speech_sha_compare, #sentiment_of_speech_avg{
  min-height: 550px;
}

#sentiment_of_words_freq, #sentiment_of_words{
  min-height: 215px;
}

#mean_num_wor{
  padding-right: 15px;
}

/* Word ussage */
.box_align_layout{
  display: flex;
}

.box_align_layout>div{
  float: none;
}

.box_align_layout .tab-content>.tab-pane,
.box_align_layout .tab-content>.tab-pane>div{
  min-height: 400px;
}

.box_align_layout .tab-content>.tab-pane>div.col-sm-12{
  min-height: 1px;
}

.box_align_layout>div .box{
  height: 100%;
}

/* Map */
#map_sentece_slider_wrapper .shiny-input-container{
  float: none;
}
/* Wordcloud */
.wordcloud{
	margin-bottom: 2em;
}

/* Data tab */
.update_dashboard{
  margin-bottom: 15px;
}

.update_dashboard:last-child{
  margin-bottom: 0;
}
